body {
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    margin: 0 auto;    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: sans-serif;
}

header, footer {
    padding: 2rem;
    background-color: rgb(197, 226, 235);
}

main {
    padding: 2rem;
    text-align: center;
}

nav,
ul {
    display: flex;
    flex-direction: row;
}


ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #d2f8fb52;
    gap: 1rem;
    padding: 2rem;
}

nav {
    align-items: center;
    justify-content: space-between;
}

ul li {
    list-style-type: none;
}

footer {
    text-align: center;
    background-color: rgb(197, 226, 235);
}

button {
    background-color: #c5e2eb;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 1.5rem;    
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}


img {
    width: 20rem;
    height: 15rem;
    border-radius: 0.5rem;
}

img:hover {
    cursor: pointer;
    opacity: 0.7;
}
