#root {
    width: 100%;
    margin: 0 auto;    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: sans-serif;
}

header, footer {
    padding: 2rem;
    background-color: rgb(197, 226, 235);
}

main {
    padding: 2rem;
    text-align: center;
}

.movie-cover {
    width: 40rem;
    height: 25rem;
    border-radius: 0.5rem;
}

.movie-cover:hover {
    cursor: pointer;
    opacity: 0.7;
}

button {
    background-color: #c5e2eb;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 1.5rem;
    
}

button:hover {
    cursor: pointer;
    background-color: #222;
    color: #c5e2eb;
}

.movies-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #d2f8fb52;
    gap: 1rem;
    padding: 2rem;
}

nav,
.navbar {
    display: flex;
    flex-direction: row;
}

.navbar {
    gap: 1rem;
    text-transform: uppercase;
}

nav {
    align-items: center;
    justify-content: space-between;
}

ul li {
    list-style-type: none;
}

footer {
    text-align: center;
    background-color: rgb(197, 226, 235);
}

